* {
  box-sizing: border-box;
}

body {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress {
  background-color: #d8d8d8;
  border-radius: 20px;
  position: relative;
  margin: 15px 0;
  height: 30px;
  width: 600px;
}

.progress-done {
  background: green;
  box-shadow: 0 3px 3px -5px green, 0 2px 5px green;
  border-radius: 20px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  opacity: 0;
  transition: 1s ease 0.3s;
  width: 50%;
  opacity: 1;
}

.progress .progress-done {
  background-size: 30px 30px;
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  animation: move 3s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.red {
  background: red;
  box-shadow: 0 3px 3px -5px red, 0 2px 5px red;
}

.white {
  background: white;
  box-shadow: 0 3px 3px -5px #ddd, 0 2px 5px #ddd;
}

.blue {
  background: blue;
  box-shadow: 0 3px 3px -5px blue, 0 2px 5px blue;
}

.yellow {
  background: yellow;
  box-shadow: 0 3px 3px -5px yellow, 0 2px 5px yellow;
}

button {
  background-color: aqua;
  border: none;
  width: 216px;
  height: 46px;
  font-weight: bold;
  cursor: pointer;
}
